* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #D6AA57;
}

.container-principal {
    display: flex;
    justify-content: center;

    position: relative;
    width: 100%;
    height: 700px;
    background: linear-gradient(#87CEEB, #E0F6FF);
    border-bottom: 15px solid rgb(35, 160, 35);
}

.shield-score {
    width: 500px;
    height: 500px;
    border: 5px solid brown;
    background: linear-gradient(silver, gold);
    color: white;
    font-size: 2rem;
    text-align: center;
}